---
openapi: 3.0.0
info:
  title: Tradovate API
  description: Tradovate API provides an access to the complete set of robust Tradovate
    functionality.
  version: 1.0.0
servers:
- url: https://demo-api-d.tradovate.com/v1
paths:
  "/auth/accesstokenrequest":
    post:
      description: ''
      operationId: accessTokenRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AccessTokenRequest"
      tags:
      - Authentication
      responses:
        '200':
          description: AccessTokenResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccessTokenResponse"
  "/auth/renewaccesstoken":
    get:
      description: ''
      operationId: renewAccessToken
      security:
      - bearer_access_token: []
      tags:
      - Authentication
      responses:
        '200':
          description: AccessTokenResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccessTokenResponse"
  "/contract/deps":
    get:
      description: Retrieves all entities of Contract type related to ContractMaturity
        entity
      operationId: contractDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of ContractMaturity entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Contract
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Contract"
  "/contract/find":
    get:
      description: Retrieves an entity of Contract type by its name
      operationId: contractFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Contract
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Contract"
  "/contract/getproductfeeparams":
    post:
      description: ''
      operationId: getProductFeeParams
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetProductFeeParams"
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ProductFeeParamsResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProductFeeParamsResponse"
  "/contract/item":
    get:
      description: Retrieves an entity of Contract type by its id
      operationId: contractItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Contract
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Contract"
  "/contract/items":
    get:
      description: Retrieves multiple entities of Contract type by its ids
      operationId: contractItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Contract
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Contract"
  "/contract/ldeps":
    get:
      description: Retrieves all entities of Contract type related to multiple entities
        of ContractMaturity type
      operationId: contractLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of ContractMaturity entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Contract
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Contract"
  "/contract/rollcontract":
    post:
      description: ''
      operationId: rollContract
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RollContract"
      tags:
      - ContractLibrary
      responses:
        '200':
          description: RollContractResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RollContractResponse"
  "/contract/suggest":
    get:
      description: Retrieves entities of Contract type filtered by an occurrence of
        a text in one of its fields
      operationId: contractSuggest
      security:
      - bearer_access_token: []
      parameters:
      - name: t
        description: Text
        in: query
        required: true
        schema:
          type: string
      - name: l
        description: Max number of entities
        in: query
        required: true
        schema:
          type: integer
          format: int32
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Contract
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Contract"
  "/contractGroup/find":
    get:
      description: Retrieves an entity of ContractGroup type by its name
      operationId: contractGroupFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractGroup
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContractGroup"
  "/contractGroup/item":
    get:
      description: Retrieves an entity of ContractGroup type by its id
      operationId: contractGroupItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractGroup
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContractGroup"
  "/contractGroup/items":
    get:
      description: Retrieves multiple entities of ContractGroup type by its ids
      operationId: contractGroupItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractGroup
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractGroup"
  "/contractGroup/list":
    get:
      description: Retrieves all entities of ContractGroup type
      operationId: contractGroupList
      security:
      - bearer_access_token: []
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractGroup
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractGroup"
  "/contractGroup/suggest":
    get:
      description: Retrieves entities of ContractGroup type filtered by an occurrence
        of a text in one of its fields
      operationId: contractGroupSuggest
      security:
      - bearer_access_token: []
      parameters:
      - name: t
        description: Text
        in: query
        required: true
        schema:
          type: string
      - name: l
        description: Max number of entities
        in: query
        required: true
        schema:
          type: integer
          format: int32
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractGroup
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractGroup"
  "/contractMaturity/deps":
    get:
      description: Retrieves all entities of ContractMaturity type related to Product
        entity
      operationId: contractMaturityDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Product entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractMaturity
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractMaturity"
  "/contractMaturity/item":
    get:
      description: Retrieves an entity of ContractMaturity type by its id
      operationId: contractMaturityItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractMaturity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContractMaturity"
  "/contractMaturity/items":
    get:
      description: Retrieves multiple entities of ContractMaturity type by its ids
      operationId: contractMaturityItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractMaturity
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractMaturity"
  "/contractMaturity/ldeps":
    get:
      description: Retrieves all entities of ContractMaturity type related to multiple
        entities of Product type
      operationId: contractMaturityLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Product entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ContractMaturity
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractMaturity"
  "/currency/find":
    get:
      description: Retrieves an entity of Currency type by its name
      operationId: currencyFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Currency
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Currency"
  "/currency/item":
    get:
      description: Retrieves an entity of Currency type by its id
      operationId: currencyItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Currency
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Currency"
  "/currency/items":
    get:
      description: Retrieves multiple entities of Currency type by its ids
      operationId: currencyItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Currency
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Currency"
  "/currency/list":
    get:
      description: Retrieves all entities of Currency type
      operationId: currencyList
      security:
      - bearer_access_token: []
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Currency
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Currency"
  "/currency/suggest":
    get:
      description: Retrieves entities of Currency type filtered by an occurrence of
        a text in one of its fields
      operationId: currencySuggest
      security:
      - bearer_access_token: []
      parameters:
      - name: t
        description: Text
        in: query
        required: true
        schema:
          type: string
      - name: l
        description: Max number of entities
        in: query
        required: true
        schema:
          type: integer
          format: int32
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Currency
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Currency"
  "/currencyRate/deps":
    get:
      description: Retrieves all entities of CurrencyRate type related to Currency
        entity
      operationId: currencyRateDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Currency entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: CurrencyRate
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CurrencyRate"
  "/currencyRate/item":
    get:
      description: Retrieves an entity of CurrencyRate type by its id
      operationId: currencyRateItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: CurrencyRate
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrencyRate"
  "/currencyRate/items":
    get:
      description: Retrieves multiple entities of CurrencyRate type by its ids
      operationId: currencyRateItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: CurrencyRate
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CurrencyRate"
  "/currencyRate/ldeps":
    get:
      description: Retrieves all entities of CurrencyRate type related to multiple
        entities of Currency type
      operationId: currencyRateLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Currency entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: CurrencyRate
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CurrencyRate"
  "/currencyRate/list":
    get:
      description: Retrieves all entities of CurrencyRate type
      operationId: currencyRateList
      security:
      - bearer_access_token: []
      tags:
      - ContractLibrary
      responses:
        '200':
          description: CurrencyRate
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CurrencyRate"
  "/exchange/find":
    get:
      description: Retrieves an entity of Exchange type by its name
      operationId: exchangeFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Exchange
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Exchange"
  "/exchange/item":
    get:
      description: Retrieves an entity of Exchange type by its id
      operationId: exchangeItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Exchange
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Exchange"
  "/exchange/items":
    get:
      description: Retrieves multiple entities of Exchange type by its ids
      operationId: exchangeItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Exchange
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Exchange"
  "/exchange/list":
    get:
      description: Retrieves all entities of Exchange type
      operationId: exchangeList
      security:
      - bearer_access_token: []
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Exchange
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Exchange"
  "/exchange/suggest":
    get:
      description: Retrieves entities of Exchange type filtered by an occurrence of
        a text in one of its fields
      operationId: exchangeSuggest
      security:
      - bearer_access_token: []
      parameters:
      - name: t
        description: Text
        in: query
        required: true
        schema:
          type: string
      - name: l
        description: Max number of entities
        in: query
        required: true
        schema:
          type: integer
          format: int32
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Exchange
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Exchange"
  "/product/deps":
    get:
      description: Retrieves all entities of Product type related to Exchange entity
      operationId: productDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Exchange entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Product"
  "/product/find":
    get:
      description: Retrieves an entity of Product type by its name
      operationId: productFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Product"
  "/product/item":
    get:
      description: Retrieves an entity of Product type by its id
      operationId: productItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Product"
  "/product/items":
    get:
      description: Retrieves multiple entities of Product type by its ids
      operationId: productItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Product"
  "/product/ldeps":
    get:
      description: Retrieves all entities of Product type related to multiple entities
        of Exchange type
      operationId: productLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Exchange entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Product"
  "/product/list":
    get:
      description: Retrieves all entities of Product type
      operationId: productList
      security:
      - bearer_access_token: []
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Product"
  "/product/suggest":
    get:
      description: Retrieves entities of Product type filtered by an occurrence of
        a text in one of its fields
      operationId: productSuggest
      security:
      - bearer_access_token: []
      parameters:
      - name: t
        description: Text
        in: query
        required: true
        schema:
          type: string
      - name: l
        description: Max number of entities
        in: query
        required: true
        schema:
          type: integer
          format: int32
      tags:
      - ContractLibrary
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Product"
  "/productSession/deps":
    get:
      description: Retrieves all entities of ProductSession type related to Product
        entity
      operationId: productSessionDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Product entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ProductSession
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ProductSession"
  "/productSession/item":
    get:
      description: Retrieves an entity of ProductSession type by its id
      operationId: productSessionItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ProductSession
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProductSession"
  "/productSession/items":
    get:
      description: Retrieves multiple entities of ProductSession type by its ids
      operationId: productSessionItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ProductSession
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ProductSession"
  "/productSession/ldeps":
    get:
      description: Retrieves all entities of ProductSession type related to multiple
        entities of Product type
      operationId: productSessionLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Product entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: ProductSession
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ProductSession"
  "/spreadDefinition/item":
    get:
      description: Retrieves an entity of SpreadDefinition type by its id
      operationId: spreadDefinitionItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - ContractLibrary
      responses:
        '200':
          description: SpreadDefinition
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SpreadDefinition"
  "/spreadDefinition/items":
    get:
      description: Retrieves multiple entities of SpreadDefinition type by its ids
      operationId: spreadDefinitionItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - ContractLibrary
      responses:
        '200':
          description: SpreadDefinition
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/SpreadDefinition"
  "/command/deps":
    get:
      description: Retrieves all entities of Command type related to Order entity
      operationId: commandDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Order entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: Command
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Command"
  "/command/item":
    get:
      description: Retrieves an entity of Command type by its id
      operationId: commandItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: Command
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Command"
  "/command/items":
    get:
      description: Retrieves multiple entities of Command type by its ids
      operationId: commandItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: Command
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Command"
  "/command/ldeps":
    get:
      description: Retrieves all entities of Command type related to multiple entities
        of Order type
      operationId: commandLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Order entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: Command
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Command"
  "/command/list":
    get:
      description: Retrieves all entities of Command type
      operationId: commandList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: Command
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Command"
  "/commandReport/deps":
    get:
      description: Retrieves all entities of CommandReport type related to Command
        entity
      operationId: commandReportDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Command entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: CommandReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CommandReport"
  "/commandReport/item":
    get:
      description: Retrieves an entity of CommandReport type by its id
      operationId: commandReportItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: CommandReport
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CommandReport"
  "/commandReport/items":
    get:
      description: Retrieves multiple entities of CommandReport type by its ids
      operationId: commandReportItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: CommandReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CommandReport"
  "/commandReport/ldeps":
    get:
      description: Retrieves all entities of CommandReport type related to multiple
        entities of Command type
      operationId: commandReportLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Command entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: CommandReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CommandReport"
  "/commandReport/list":
    get:
      description: Retrieves all entities of CommandReport type
      operationId: commandReportList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: CommandReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CommandReport"
  "/executionReport/deps":
    get:
      description: Retrieves all entities of ExecutionReport type related to Command
        entity
      operationId: executionReportDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Command entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: ExecutionReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ExecutionReport"
  "/executionReport/find":
    get:
      description: Retrieves an entity of ExecutionReport type by its name
      operationId: executionReportFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - Orders
      responses:
        '200':
          description: ExecutionReport
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionReport"
  "/executionReport/item":
    get:
      description: Retrieves an entity of ExecutionReport type by its id
      operationId: executionReportItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: ExecutionReport
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionReport"
  "/executionReport/items":
    get:
      description: Retrieves multiple entities of ExecutionReport type by its ids
      operationId: executionReportItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: ExecutionReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ExecutionReport"
  "/executionReport/ldeps":
    get:
      description: Retrieves all entities of ExecutionReport type related to multiple
        entities of Command type
      operationId: executionReportLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Command entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: ExecutionReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ExecutionReport"
  "/executionReport/list":
    get:
      description: Retrieves all entities of ExecutionReport type
      operationId: executionReportList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: ExecutionReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ExecutionReport"
  "/executionReport/suggest":
    get:
      description: Retrieves entities of ExecutionReport type filtered by an occurrence
        of a text in one of its fields
      operationId: executionReportSuggest
      security:
      - bearer_access_token: []
      parameters:
      - name: t
        description: Text
        in: query
        required: true
        schema:
          type: string
      - name: l
        description: Max number of entities
        in: query
        required: true
        schema:
          type: integer
          format: int32
      tags:
      - Orders
      responses:
        '200':
          description: ExecutionReport
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ExecutionReport"
  "/fill/deps":
    get:
      description: Retrieves all entities of Fill type related to Order entity
      operationId: fillDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Order entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: Fill
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Fill"
  "/fill/item":
    get:
      description: Retrieves an entity of Fill type by its id
      operationId: fillItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: Fill
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Fill"
  "/fill/items":
    get:
      description: Retrieves multiple entities of Fill type by its ids
      operationId: fillItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: Fill
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Fill"
  "/fill/ldeps":
    get:
      description: Retrieves all entities of Fill type related to multiple entities
        of Order type
      operationId: fillLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Order entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: Fill
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Fill"
  "/fill/list":
    get:
      description: Retrieves all entities of Fill type
      operationId: fillList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: Fill
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Fill"
  "/fillFee/deps":
    get:
      description: Retrieves all entities of FillFee type related to Fill entity
      operationId: fillFeeDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Fill entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: FillFee
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillFee"
  "/fillFee/item":
    get:
      description: Retrieves an entity of FillFee type by its id
      operationId: fillFeeItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: FillFee
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FillFee"
  "/fillFee/items":
    get:
      description: Retrieves multiple entities of FillFee type by its ids
      operationId: fillFeeItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: FillFee
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillFee"
  "/fillFee/ldeps":
    get:
      description: Retrieves all entities of FillFee type related to multiple entities
        of Fill type
      operationId: fillFeeLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Fill entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: FillFee
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillFee"
  "/fillFee/list":
    get:
      description: Retrieves all entities of FillFee type
      operationId: fillFeeList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: FillFee
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillFee"
  "/order/cancelorder":
    post:
      description: |2-

        ## Make a request to cancel an order.
      operationId: cancelOrder
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CancelOrder"
      tags:
      - Orders
      responses:
        '200':
          description: CommandResult
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CommandResult"
  "/order/deps":
    get:
      description: Retrieves all entities of Order type related to Account entity
      operationId: orderDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Account entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Order"
  "/order/item":
    get:
      description: Retrieves an entity of Order type by its id
      operationId: orderItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Order"
  "/order/items":
    get:
      description: Retrieves multiple entities of Order type by its ids
      operationId: orderItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Order"
  "/order/ldeps":
    get:
      description: Retrieves all entities of Order type related to multiple entities
        of Account type
      operationId: orderLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Account entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Order"
  "/order/liquidateposition":
    post:
      description: ''
      operationId: liquidatePosition
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LiquidatePosition"
      tags:
      - Orders
      responses:
        '200':
          description: PlaceOrderResult
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlaceOrderResult"
  "/order/list":
    get:
      description: Retrieves all entities of Order type
      operationId: orderList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Order"
  "/order/modifyorder":
    post:
      description: ''
      operationId: modifyOrder
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ModifyOrder"
      tags:
      - Orders
      responses:
        '200':
          description: CommandResult
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CommandResult"
  "/order/placeoco":
    post:
      description: ''
      operationId: placeOCO
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PlaceOCO"
      tags:
      - Orders
      responses:
        '200':
          description: PlaceOcoResult
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlaceOcoResult"
  "/order/placeorder":
    post:
      description: ''
      operationId: placeOrder
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PlaceOrder"
      tags:
      - Orders
      responses:
        '200':
          description: PlaceOrderResult
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlaceOrderResult"
  "/order/placeoso":
    post:
      description: ''
      operationId: placeOSO
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PlaceOSO"
      tags:
      - Orders
      responses:
        '200':
          description: PlaceOsoResult
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlaceOsoResult"
  "/orderStrategy/deps":
    get:
      description: Retrieves all entities of OrderStrategy type related to Account
        entity
      operationId: orderStrategyDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Account entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategy
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategy"
  "/orderStrategy/interruptorderstrategy":
    post:
      description: ''
      operationId: interruptOrderStrategy
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/InterruptOrderStrategy"
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyStatusResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderStrategyStatusResponse"
  "/orderStrategy/item":
    get:
      description: Retrieves an entity of OrderStrategy type by its id
      operationId: orderStrategyItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategy
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderStrategy"
  "/orderStrategy/items":
    get:
      description: Retrieves multiple entities of OrderStrategy type by its ids
      operationId: orderStrategyItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategy
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategy"
  "/orderStrategy/ldeps":
    get:
      description: Retrieves all entities of OrderStrategy type related to multiple
        entities of Account type
      operationId: orderStrategyLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Account entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategy
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategy"
  "/orderStrategy/list":
    get:
      description: Retrieves all entities of OrderStrategy type
      operationId: orderStrategyList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategy
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategy"
  "/orderStrategy/modifyorderstrategy":
    post:
      description: ''
      operationId: modifyOrderStrategy
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ModifyOrderStrategy"
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyStatusResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderStrategyStatusResponse"
  "/orderStrategy/startorderstrategy":
    post:
      description: ''
      operationId: startOrderStrategy
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StartOrderStrategy"
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyStatusResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderStrategyStatusResponse"
  "/orderStrategyLink/deps":
    get:
      description: Retrieves all entities of OrderStrategyLink type related to OrderStrategy
        entity
      operationId: orderStrategyLinkDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of OrderStrategy entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyLink
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategyLink"
  "/orderStrategyLink/item":
    get:
      description: Retrieves an entity of OrderStrategyLink type by its id
      operationId: orderStrategyLinkItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyLink
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderStrategyLink"
  "/orderStrategyLink/items":
    get:
      description: Retrieves multiple entities of OrderStrategyLink type by its ids
      operationId: orderStrategyLinkItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyLink
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategyLink"
  "/orderStrategyLink/ldeps":
    get:
      description: Retrieves all entities of OrderStrategyLink type related to multiple
        entities of OrderStrategy type
      operationId: orderStrategyLinkLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of OrderStrategy entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyLink
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategyLink"
  "/orderStrategyLink/list":
    get:
      description: Retrieves all entities of OrderStrategyLink type
      operationId: orderStrategyLinkList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: OrderStrategyLink
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderStrategyLink"
  "/orderVersion/deps":
    get:
      description: Retrieves all entities of OrderVersion type related to Order entity
      operationId: orderVersionDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Order entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: OrderVersion
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderVersion"
  "/orderVersion/item":
    get:
      description: Retrieves an entity of OrderVersion type by its id
      operationId: orderVersionItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Orders
      responses:
        '200':
          description: OrderVersion
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrderVersion"
  "/orderVersion/items":
    get:
      description: Retrieves multiple entities of OrderVersion type by its ids
      operationId: orderVersionItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: OrderVersion
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderVersion"
  "/orderVersion/ldeps":
    get:
      description: Retrieves all entities of OrderVersion type related to multiple
        entities of Order type
      operationId: orderVersionLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Order entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orders
      responses:
        '200':
          description: OrderVersion
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderVersion"
  "/orderVersion/list":
    get:
      description: Retrieves all entities of OrderVersion type
      operationId: orderVersionList
      security:
      - bearer_access_token: []
      tags:
      - Orders
      responses:
        '200':
          description: OrderVersion
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/OrderVersion"
  "/fillPair/deps":
    get:
      description: Retrieves all entities of FillPair type related to Position entity
      operationId: fillPairDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Position entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Positions
      responses:
        '200':
          description: FillPair
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillPair"
  "/fillPair/item":
    get:
      description: Retrieves an entity of FillPair type by its id
      operationId: fillPairItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Positions
      responses:
        '200':
          description: FillPair
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FillPair"
  "/fillPair/items":
    get:
      description: Retrieves multiple entities of FillPair type by its ids
      operationId: fillPairItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Positions
      responses:
        '200':
          description: FillPair
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillPair"
  "/fillPair/ldeps":
    get:
      description: Retrieves all entities of FillPair type related to multiple entities
        of Position type
      operationId: fillPairLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Position entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Positions
      responses:
        '200':
          description: FillPair
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillPair"
  "/fillPair/list":
    get:
      description: Retrieves all entities of FillPair type
      operationId: fillPairList
      security:
      - bearer_access_token: []
      tags:
      - Positions
      responses:
        '200':
          description: FillPair
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FillPair"
  "/position/deps":
    get:
      description: Retrieves all entities of Position type related to Account entity
      operationId: positionDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Account entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Positions
      responses:
        '200':
          description: Position
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Position"
  "/position/find":
    get:
      description: Retrieves an entity of Position type by its name
      operationId: positionFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - Positions
      responses:
        '200':
          description: Position
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Position"
  "/position/item":
    get:
      description: Retrieves an entity of Position type by its id
      operationId: positionItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Positions
      responses:
        '200':
          description: Position
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Position"
  "/position/items":
    get:
      description: Retrieves multiple entities of Position type by its ids
      operationId: positionItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Positions
      responses:
        '200':
          description: Position
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Position"
  "/position/ldeps":
    get:
      description: Retrieves all entities of Position type related to multiple entities
        of Account type
      operationId: positionLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Account entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Positions
      responses:
        '200':
          description: Position
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Position"
  "/position/list":
    get:
      description: Retrieves all entities of Position type
      operationId: positionList
      security:
      - bearer_access_token: []
      tags:
      - Positions
      responses:
        '200':
          description: Position
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Position"
  "/account/deps":
    get:
      description: Retrieves all entities of Account type related to User entity
      operationId: accountDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of User entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Account"
  "/account/find":
    get:
      description: Retrieves an entity of Account type by its name
      operationId: accountFind
      security:
      - bearer_access_token: []
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - Accounting
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
  "/account/item":
    get:
      description: Retrieves an entity of Account type by its id
      operationId: accountItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
  "/account/items":
    get:
      description: Retrieves multiple entities of Account type by its ids
      operationId: accountItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Account"
  "/account/ldeps":
    get:
      description: Retrieves all entities of Account type related to multiple entities
        of User type
      operationId: accountLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of User entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Account"
  "/account/list":
    get:
      description: Retrieves all entities of Account type
      operationId: accountList
      security:
      - bearer_access_token: []
      tags:
      - Accounting
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Account"
  "/account/suggest":
    get:
      description: Retrieves entities of Account type filtered by an occurrence of
        a text in one of its fields
      operationId: accountSuggest
      security:
      - bearer_access_token: []
      parameters:
      - name: t
        description: Text
        in: query
        required: true
        schema:
          type: string
      - name: l
        description: Max number of entities
        in: query
        required: true
        schema:
          type: integer
          format: int32
      tags:
      - Accounting
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Account"
  "/cashBalance/deps":
    get:
      description: Retrieves all entities of CashBalance type related to Account entity
      operationId: cashBalanceDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Account entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalance
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CashBalance"
  "/cashBalance/getcashbalancesnapshot":
    post:
      description: ''
      operationId: getCashBalanceSnapshot
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GetCashBalanceSnapshot"
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalanceSnapshot
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CashBalanceSnapshot"
  "/cashBalance/item":
    get:
      description: Retrieves an entity of CashBalance type by its id
      operationId: cashBalanceItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalance
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CashBalance"
  "/cashBalance/items":
    get:
      description: Retrieves multiple entities of CashBalance type by its ids
      operationId: cashBalanceItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalance
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CashBalance"
  "/cashBalance/ldeps":
    get:
      description: Retrieves all entities of CashBalance type related to multiple
        entities of Account type
      operationId: cashBalanceLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Account entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalance
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CashBalance"
  "/cashBalance/list":
    get:
      description: Retrieves all entities of CashBalance type
      operationId: cashBalanceList
      security:
      - bearer_access_token: []
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalance
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CashBalance"
  "/cashBalanceLog/deps":
    get:
      description: Retrieves all entities of CashBalanceLog type related to Account
        entity
      operationId: cashBalanceLogDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Account entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalanceLog
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CashBalanceLog"
  "/cashBalanceLog/item":
    get:
      description: Retrieves an entity of CashBalanceLog type by its id
      operationId: cashBalanceLogItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalanceLog
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CashBalanceLog"
  "/cashBalanceLog/items":
    get:
      description: Retrieves multiple entities of CashBalanceLog type by its ids
      operationId: cashBalanceLogItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalanceLog
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CashBalanceLog"
  "/cashBalanceLog/ldeps":
    get:
      description: Retrieves all entities of CashBalanceLog type related to multiple
        entities of Account type
      operationId: cashBalanceLogLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Account entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: CashBalanceLog
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CashBalanceLog"
  "/marginSnapshot/deps":
    get:
      description: Retrieves all entities of MarginSnapshot type related to Account
        entity
      operationId: marginSnapshotDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Account entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: MarginSnapshot
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MarginSnapshot"
  "/marginSnapshot/item":
    get:
      description: Retrieves an entity of MarginSnapshot type by its id
      operationId: marginSnapshotItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: MarginSnapshot
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MarginSnapshot"
  "/marginSnapshot/items":
    get:
      description: Retrieves multiple entities of MarginSnapshot type by its ids
      operationId: marginSnapshotItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: MarginSnapshot
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MarginSnapshot"
  "/marginSnapshot/ldeps":
    get:
      description: Retrieves all entities of MarginSnapshot type related to multiple
        entities of Account type
      operationId: marginSnapshotLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Account entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: MarginSnapshot
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MarginSnapshot"
  "/marginSnapshot/list":
    get:
      description: Retrieves all entities of MarginSnapshot type
      operationId: marginSnapshotList
      security:
      - bearer_access_token: []
      tags:
      - Accounting
      responses:
        '200':
          description: MarginSnapshot
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MarginSnapshot"
  "/tradingPermission/deps":
    get:
      description: Retrieves all entities of TradingPermission type related to User
        entity
      operationId: tradingPermissionDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of User entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: TradingPermission
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TradingPermission"
  "/tradingPermission/item":
    get:
      description: Retrieves an entity of TradingPermission type by its id
      operationId: tradingPermissionItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Accounting
      responses:
        '200':
          description: TradingPermission
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TradingPermission"
  "/tradingPermission/items":
    get:
      description: Retrieves multiple entities of TradingPermission type by its ids
      operationId: tradingPermissionItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: TradingPermission
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TradingPermission"
  "/tradingPermission/ldeps":
    get:
      description: Retrieves all entities of TradingPermission type related to multiple
        entities of User type
      operationId: tradingPermissionLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of User entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Accounting
      responses:
        '200':
          description: TradingPermission
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TradingPermission"
  "/tradingPermission/list":
    get:
      description: Retrieves all entities of TradingPermission type
      operationId: tradingPermissionList
      security:
      - bearer_access_token: []
      tags:
      - Accounting
      responses:
        '200':
          description: TradingPermission
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TradingPermission"
  "/contractMargin/deps":
    get:
      description: Retrieves all entities of ContractMargin type related to Contract
        entity
      operationId: contractMarginDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Contract entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Risks
      responses:
        '200':
          description: ContractMargin
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractMargin"
  "/contractMargin/item":
    get:
      description: Retrieves an entity of ContractMargin type by its id
      operationId: contractMarginItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Risks
      responses:
        '200':
          description: ContractMargin
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContractMargin"
  "/contractMargin/items":
    get:
      description: Retrieves multiple entities of ContractMargin type by its ids
      operationId: contractMarginItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Risks
      responses:
        '200':
          description: ContractMargin
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractMargin"
  "/contractMargin/ldeps":
    get:
      description: Retrieves all entities of ContractMargin type related to multiple
        entities of Contract type
      operationId: contractMarginLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Contract entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Risks
      responses:
        '200':
          description: ContractMargin
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ContractMargin"
  "/productMargin/deps":
    get:
      description: Retrieves all entities of ProductMargin type related to Product
        entity
      operationId: productMarginDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Product entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Risks
      responses:
        '200':
          description: ProductMargin
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ProductMargin"
  "/productMargin/item":
    get:
      description: Retrieves an entity of ProductMargin type by its id
      operationId: productMarginItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Risks
      responses:
        '200':
          description: ProductMargin
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProductMargin"
  "/productMargin/items":
    get:
      description: Retrieves multiple entities of ProductMargin type by its ids
      operationId: productMarginItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Risks
      responses:
        '200':
          description: ProductMargin
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ProductMargin"
  "/productMargin/ldeps":
    get:
      description: Retrieves all entities of ProductMargin type related to multiple
        entities of Product type
      operationId: productMarginLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Product entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Risks
      responses:
        '200':
          description: ProductMargin
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ProductMargin"
  "/productMargin/list":
    get:
      description: Retrieves all entities of ProductMargin type
      operationId: productMarginList
      security:
      - bearer_access_token: []
      tags:
      - Risks
      responses:
        '200':
          description: ProductMargin
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ProductMargin"
  "/userAccountAutoLiq/create":
    post:
      description: Creates a new entity of UserAccountAutoLiq
      operationId: userAccountAutoLiqCreate
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserAccountAutoLiq"
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountAutoLiq
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserAccountAutoLiq"
  "/userAccountAutoLiq/deps":
    get:
      description: Retrieves all entities of UserAccountAutoLiq type related to Account
        entity
      operationId: userAccountAutoLiqDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterid
        description: id of Account entity
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountAutoLiq
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/UserAccountAutoLiq"
  "/userAccountAutoLiq/item":
    get:
      description: Retrieves an entity of UserAccountAutoLiq type by its id
      operationId: userAccountAutoLiqItem
      security:
      - bearer_access_token: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountAutoLiq
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserAccountAutoLiq"
  "/userAccountAutoLiq/items":
    get:
      description: Retrieves multiple entities of UserAccountAutoLiq type by its ids
      operationId: userAccountAutoLiqItems
      security:
      - bearer_access_token: []
      parameters:
      - name: ids
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountAutoLiq
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/UserAccountAutoLiq"
  "/userAccountAutoLiq/ldeps":
    get:
      description: Retrieves all entities of UserAccountAutoLiq type related to multiple
        entities of Account type
      operationId: userAccountAutoLiqLDependents
      security:
      - bearer_access_token: []
      parameters:
      - name: masterids
        description: ids of Account entities
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountAutoLiq
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/UserAccountAutoLiq"
  "/userAccountAutoLiq/list":
    get:
      description: Retrieves all entities of UserAccountAutoLiq type
      operationId: userAccountAutoLiqList
      security:
      - bearer_access_token: []
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountAutoLiq
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/UserAccountAutoLiq"
  "/userAccountAutoLiq/update":
    post:
      description: Updates an existing entity of UserAccountAutoLiq
      operationId: userAccountAutoLiqUpdate
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserAccountAutoLiq"
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountAutoLiq
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserAccountAutoLiq"
  "/userAccountPositionLimit/create":
    post:
      description: Creates a new entity of UserAccountPositionLimit
      operationId: userAccountPositionLimitCreate
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserAccountPositionLimit"
      tags:
      - Risks
      responses:
        '200':
          description: UserAccountPositionLimit
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserAccountPositionLimit"
  "/userAccountPositionLimit/deleteuseraccountpositionlimit":
    post:
      description: ''
      operationId: deleteUserAccountPositionLimit
      security:
      - bearer_access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DeleteUserAccountPositionLimit"
      tags:
      - Risks
      responses:
        '200':
          description: DeleteResultResponse
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteResultResponse"
  "/userAccountPositionLimit/deleteuseraccountriskparameter":
    post:
      description: ''
      operationId: deleteUserAccountRiskParameter
      security:
      - bearer_access_token: []
      requestBody:
[...]
